services:
  api:
    build:
      context: .
      dockerfile: docker/app.Dockerfile
    container_name: booking_api
    env_file:
      - .env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  postgres:
    image: postgres:16-alpine
    container_name: booking_postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7-alpine
    container_name: booking_redis
    command: redis-server --save "" --appendonly no
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

  celery_worker:
    build:
      context: .
      dockerfile: docker/app.Dockerfile
    container_name: booking_celery_worker
    env_file:
      - .env
    command: celery -A app.tasks.celery_app worker --loglevel=INFO
    volumes:
      - ./:/app
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy

  celery_beat:
    build:
      context: .
      dockerfile: docker/app.Dockerfile
    container_name: booking_celery_beat
    env_file:
      - .env
    command: celery -A app.tasks.celery_app beat --loglevel=INFO
    volumes:
      - ./:/app
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
